# Python
venv/
__pycache__/
*.pyc

# Uploads
uploads/
backend/uploads/

# Frontend
Frontend/node_modules/
Frontend/build/

# Audio/Test files
*.mp3
*.wav
deepfake_audio_dataset_jay15k/
*.wav
*.flac
*.ogg

# Environment files
.env

# OS
.DS_Store
Thumbs.db
