# Python
venv/
__pycache__/
*.pyc

# Uploads
uploads/
backend/uploads/

# Frontend
Frontend/node_modules/
Frontend/build/

# Audio/Test files
*.mp3
*.wav
deepfake_audio_dataset_jay15k/
archive (1)/
*.wav
*.flac
*.ogg
*.mp4
*.mov
*.avi
*.mkv
*.webm

# Environment files
.env

# OS
.DS_Store
Thumbs.db
